/* RESET, VARIÁVEIS E ESTILOS GLOBAIS */

.playfair-display {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Cores */
    --primary: #EDAFF8;
    --secondary: #FFD166;
    --white: #FFFFFF;
    --dark: #211C1C;
    --whats: #008000;

    /* Fontes */
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Playfair Display', serif;

    /* Tamanhos */
    --font-size-menu: 18px;
    --font-size-h1: 24px;
    --font-size-btn: 18px;
    --font-size-h2: 36px;
    --font-size-p: 18px;
    --font-size-h3: 24px;
    --font-size-footer: 12px;
    --margin: 18px;
}

/* PÁGINA HOME */

body {
    font-family: var(--font-primary);
    font-weight: normal;
    color: var(--dark);
    background: linear-gradient(135deg, #edaff87c, #ffd16679);
    min-width: 314px;
    }

.navbar {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.logo img {
    height: 70px;
    width: 70px;
    margin: 5px;

}

.menu {
    display: flex;
    align-content: center;
    list-style: none;
    font-size: var(--font-size-menu);
}

a {
    text-decoration: none;
    color: var(--dark);
}

.menu a {
    padding: 05px 08px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.menu a:hover {
    background-color: var(--primary); /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
    transform: scale(1.1); /* Leve aumento no tamanho */
}

.hero {
    height: 90vh; /* Mantém a altura da seção Hero */
    min-height: 575px;
    justify-content: center;
    align-items: center;
    position: relative; /* Garante que o swiper fique dentro do hero */
    overflow: hidden; /* Impede que elementos ultrapassem os limites */
}

.custom-title {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin: 20px; 
    font-family: var(--font-secondary);
    font-weight: normal; 
    font-size: var(--font-size-h2);
}

.left {
    align-self: flex-start;
}

.center {
    align-self: center;
}

.right {
    align-self: flex-end;
}

.swiper {
    width: 90%;
    max-width: 1000px;
    height: 60vh;
    min-height: 380px;
    max-height: calc(90vh - 40px);
    margin: auto;
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.btn-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

button {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.btn {
    display: inline-block;
    padding: 14px 30px;
    background-color: var(--secondary);
    color: var(--dark);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    font-size: var(--font-size-btn);
    text-transform: uppercase;
    font-weight: normal;
}

.btn:hover {
    background-color: var(--primary);
}

.swiper-pagination-bullet {
    border: 1px solid black;
}

.swiper-pagination-bullet-active {
    background: var(--primary) !important; /* Muda a cor da bolinha ativa */
    border: 0.5px solid white; /* Destaca a bolinha ativa */
}

/* Estilizando as setas do Swiper */
.swiper-button-next,
.swiper-button-prev {
    color: var(--white) !important; /* Muda a cor da seta */
    background-color: var(--primary);
}

.about-us {
    background-color: var(--primary);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.about-img {
    display: none;
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
}

.title-hr {
    margin-top: 18px;
    width: 52px;
    height: 1px;/* aplicar o height junto com border none tira a borda padrão do hr */
    border: none; 
    background-color: var(--dark);
}

hr {
    height: 1px;/* aplicar o height junto com border none tira a borda padrão do hr */
    border: none; 
    background-color: var(--dark);
}

p {
    font-family: var(--font-primary);
    font-size: var(--font-size-p);
    line-height: 2rem;
    justify-content: left;
    margin: 18px 0;
}

.btn-secondary {
    display: flex;
    justify-content: center;
    height: 52px;
    width: 162px;
    padding: 14px 30px;
    margin: 18px auto;
    margin-top: 58px;
    background-color: var(--secondary);
    color: var(--dark);
    text-decoration: none;
    transition: 0.3s;
    font-size: var(--font-size-btn);
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-weight: normal; /* Garantir que o texto não fique em negrito */
}

.btn-secondary:hover {
    background-color: var(--white);
    color: var(--primary);
    cursor: pointer;
}

.services {
    margin: 20px;
}

h3 {
    font-size: var(--font-size-h3);
}

.services img {
    height: 200px;
    width: 200px;
    margin: 18px;
    object-fit: cover;
    border-radius: 100px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Alinha os itens no centro verticalmente */
    text-align: center; /* Garante que o texto fique centralizado */
    margin-bottom: 20px; /* Espaço entre os serviços */
    border-bottom: 1px solid black;
    padding-bottom: 36px;
}

.service-item:last-child {
    border-bottom: none;
}

.btn-primary {
    display: flex;
    justify-content: center;
    padding: 14px 30px;
    margin: 0 18 18 18px;
    background-color: var(--primary);
    color: var(--dark);
    text-decoration: none;
    transition: 0.3s;
    font-size: var(--font-size-btn);
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-weight: normal; /* Garantir que o texto não fique em negrito */
}

.btn-primary:hover {
    background-color: var(--secondary);
    color:var(--white);
    cursor: pointer;
}

.contact-us {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--secondary);
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
}

.whats {
    display: flex;
    justify-content: center;
    padding: 14px 30px;
    margin: 18px auto;
    background-color: var(--whats);
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
    font-size: var(--font-size-btn);
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-weight: normal; /* Garantir que o texto não fique em negrito */
}

.whats:hover {
    background-color: var(--white);
    color: var(--whats);
    cursor: pointer;
}

.media-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.media-icon img {
    height: 80px;
    width: 80px;
}

#s-m {
    margin: auto;
    max-width: 1400px;
    width: 60%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#s-m a {
    display: inline-flex;
    width: 70px;
    height: 70px;
    background-color: var(--primary);
    color: var(--dark);
    margin: 0 6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 20px;
}

#s-m a:hover {
    background: var(--white);
}

#s-m a i {
    transition: 0.4s all;
}

#s-m a:hover > i {
    transform: scale(1.6) rotate(25deg);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--white);
    height: 90px;
    text-align: center;
}

footer h4 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: var(--font-size-footer);
    font-weight: normal; 
}

footer a {
    color: var(--secondary);
    font-size: var(--font-size-footer);
    margin-left: 2px;
}

header, footer {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.whatsapp-button {
    position: fixed;
    bottom: 50px;  /* Adjusted to accommodate text below */
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    animation: bounce 2s infinite;
    margin-right: 13px;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 35px;
    height: 35px;
}

.whatsapp-text {
    position: fixed;
    bottom: 10px;  /* Adjusted to match the bottom of the button */
    right: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    text-align: center;
    z-index: 1000;
    text-shadow:  
        -1px -1px 0px white,  
         1px -1px 0px white,  
        -1px  1px 0px white,  
         1px  1px 0px white;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

/* PÁGINA SOBRE */

.about-img-contact {
    display: none;
}

/* PÁGINA SERVIÇOS */

.mySwiperServices {
    width: 90%;
    max-width: 1000px;
    height: 90vh;
    min-height: 380px;
    max-height: calc(90vh - 40px);
    margin: auto;
    margin-bottom: 18px;
}

.mySwiperServices .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.mySwiperServices .btn-container {
    display: none;
}

.service-page {
    max-width: 1000px;
    margin: auto;
}

.service-page h2 {
    margin: 20px;
}

.service-page hr {
    margin: 20px;
    width: 52px;
}

.service-item-page h3 {
    text-align: left;
    margin: 18px;
}

.service-item-page p {
    margin: 18px;
}

.btn-primary-service {
    display: flex;
    justify-content: center;
    padding: 14px 10px;
    margin: 18px auto;
    background-color: var(--secondary);
    color: var(--dark);
    text-decoration: none;
    transition: 0.3s;
    font-size: var(--font-size-btn);
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: normal;
}

.btn-primary-service:hover {
    background-color: var(--primary);
}

/* CONTACT PAGE */

.contact-us-page {
    margin: auto;
    padding: 20px;
    max-width: 1000px;
}

.media-icon-contact-page {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.media-icon-contact-page img {
    height: 80px;
    width: 80px;
}

#s-m-r {
    margin: 0px;
    max-width: 1400px;
    width: 60%;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

#s-m-r a {
    display: inline-flex;
    width: 70px;
    height: 70px;
    background-color: var(--primary);
    color: var(--dark);
    margin: 0 6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 20px;
}

#s-m-r a:hover {
    background: var(--secondary);
}

#s-m-r a i {
    transition: 0.4s all;
}

#s-m-r a:hover > i {
    transform: scale(1.6) rotate(25deg);
}

/* MEDIAS QUERIES */

@media screen and (min-width: 481px) {
    header {
        background-color: var(--secondary);
    }
    
    .navbar {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .menu {
        gap: 30px;
    }

    .menu a {
        padding: 05px 10px;
        font-size: var(--font-size-menu);
    }

    .custom-title {
        max-width:1000px;
        width: calc(100% - 36px); /* 100% da tela menos 18px de margem em cada lado */
        margin: 18px auto; /*manter centralizado */
        font-size: 48px;
    }

    .swiper {
        max-width: 1000px;
        max-height: 750px;
        width: 95%;
        margin: 18px;
    }

    .hero {
        height: 60vh;
        min-height: 700px;
        max-height: 750px;
    }

    .about-us {
        max-width: 1000px;
        width: 100%;
        min-height: 70vh;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .about-us p {
        margin-bottom: 120px;
    }
    
    .about-us button {
        margin-top: auto; 
        margin-bottom: 8px; 
        align-self: center; 
    }

    .about-us h2 {
        margin: 18px 0;
    }
    
    .about-us hr {
        margin: 18px 0;
    }

    .services h2, hr {
        display: grid;
        grid-column: 1 / 3;
        margin: 18px;
    }

    .services {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: start;
            max-width: 1000px;
            margin: auto;
    }

    .service-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: ;
    }

    .service-item {
        border-bottom: none;
    }

    h4 {
        font-size: 18px;
    }

    /* ABOUT PAGE */
    #about-us-page p {
        margin-bottom: 200px;
    }

    /* CONTACT PAGE */

    .footer-contact {
        margin-top: 72px;
        position: relative;
        bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    
    .menu {
        gap: 55px;
    }

    p {
        font-size: 20px;
    }

    .btn {
        font-size: 24px;
        margin-bottom: 18px;
    }

    .swiper-pagination-bullet {
        width: 20px !important;
        height: 20px !important;
    }

    .swiper-pagination-bullet-active {
        width: 22px !important;
        height: 22px !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 50px !important;
        height: 50px !important;
        font-size: 36px !important;
        background-size: 36px !important; 
    }

    .p-img {
        display: flex;
    }

    .about-img {
        display: block;
        width: 300px;
        height: 250px;
        border-radius: 50px 0 0 0;
        object-fit: cover;
        border: 1px solid var(--secondary);
    }

    .about-us p {
        margin-right: 48px;
        margin-bottom: 36px;
    }

    /* PAGE ABOUT US */

    about-us-page {
        height: 1000px;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    footer h4 {
        font-size: 18px;
    }

    footer a {
        font-size: 18px;
    }

    .about-img-contact {
        display: block;
        width: 300px;
        height: 550px;
        border-radius: 50px 0 0 0;
        object-fit: cover;
        border: 1px solid var(--secondary);
    }

    .mySwiperServices {
        height: 60vh;
    }

    /* PAGE CONTACT */

    .footer-contact {
        margin-top: 72px;
    }

}

@media screen and (min-width: 1300px) {
    .hero {
        margin-bottom: 18px;
        height: 90vh;
    }

    a {
        font-size: 24px;
    }
    
    .hero {
        margin-bottom: 18px;
        height: 90vh;
    }   

}